@page "/"

<h3>Document Upload</h3>

<div class="card p-4 shadow-sm">
    <div class="mb-3">
        <label class="form-label">Select Document</label>
        <input type="file" class="form-control"  />
    </div>

    <div class="mb-3">
        <label class="form-label">Uploaded By</label>
        <input type="text" class="form-control" placeholder="Enter your name"  />
    </div>

    <button class="btn btn-primary" >Upload</button>

    
</div>
