@using MatBlazor  
<header class="navbar">  
    <div class="navbar-container">  
        <div class="navbar-brand">  
            <MatIcon Icon="@MatIconNames.Check" Style="font-size: 32px; color: #4285F4; margin-right: 10px;" />  
            <span class="app-name">DocVerify</span>  
        </div>  
        
        <nav class="nav-menu">  
            <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">  
                <MatIcon Icon="@MatIconNames.Home" Style="margin-right: 8px;" />  
                Home  
            </NavLink>  
            <NavLink href="/about" class="nav-link">  
                <MatIcon Icon="@MatIconNames.Info" Style="margin-right: 8px;" />  
                About  
            </NavLink>  
            <NavLink href="/contact" class="nav-link">  
                <MatIcon Icon="@MatIconNames.Email" Style="margin-right: 8px;" />  
                Contact  
            </NavLink>  
        </nav>  
        
        <div class="auth-actions">  
            <MatButton Href="/login" Label="Login" Outlined="true" Class="login-btn" />  
            <MatButton Href="/register" Label="Register" Raised="true" Class="register-btn" />  
        </div>  
    </div>  
</header>